name: ci

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17 and Cache Gradle dependencies
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        
      # - name: Run Supply Lint Check
      #   run: ./gradlew supplyLint --no-daemon

  test:
    runs-on: ubuntu-latest
    needs: [lint] 
    env:
      SPRING_PROFILES_ACTIVE: test

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17 and Cache Gradle dependencies
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Unit and Integration Tests
        run: ./gradlew test --no-daemon

      - name: Publish Unit Test Results to PR Comments
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: '**/build/test-results/test/TEST-*.xml'

      - name: Register Check comment on failed code lines
        uses: mikepenz/action-junit-report@v3
        if: always()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          token: ${{ github.token }}
          
